{% extends 'base.html' %}
{%block title%}
ALL RENTALS <br>
{%endblock title%}

{%block content%}
Unreturned: <br>
{%for i in unreturned%}
<a href="{% url 'one_rental' i.id%}">
{{i.rental_date}} | {{i.customer.first_name}} {{i.customer.last_name}} | vehicle id: {{i.vehicle.id}} <br>
</a>
{%endfor%} 
<br> Returned: <br>
{%for i in returned%}
{{i.rental_date}} | {{i.return_date}} | {{i.customer.first_name}} {{i.customer.last_name}} | vehicle id: {{i.vehicle.id}} <br>
{%endfor%} 
{%endblock content%}

