{% extends 'base.html' %}
{%block title%}
Vehicle Details <br>
{%endblock title%}

{%block content%}
        info: <br>
        
        vehicle type : {{info.vehicle_type}} {{info.last_name}} <br> 
        date created: {{info.date_created}} <br> 
        real cost: {{info.real_cost}}  <br>
        size : {{info.size}} <br>
{%if is_rented%}
is rented now: yes
{%else%}
is rented now: no
{%endif%}
<br>
{% if user.is_superuser %}

        <a href="{% url 'delete_vehicle' info.id %}"> Delete </a>
{%endif%}
{%endblock content%}

