{% extends 'base.html' %}
{%block title%}
ALL VEHICLES <br>
{%endblock title%}

 {%block content%}
       <p> {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} </p>

{% if user.is_authenticated%}
    <br>
    Hello {{user}}<br>
    

    {%for vehicle, comment_form  in vehicle_comments%}
    <a href="{% url 'one_vehicle' vehicle.id%}">
        {{vehicle}} <br>
    </a>
            {%for comment in vehicle.comments.all%}
            {{comment}}<br>
            {%endfor%}
        <form method="post" action="{%url 'add-comment'%}">
        {%csrf_token%}
        {{comment_form}}
        <button type="submit"> Comment </button>
        </form>
        {%endfor%} 

{% else%}

        {%for v in vehicles%}
        <br> {{v}} <br>

        {%endfor%}

        {%endif%}
        {%endblock content%}

