<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals</title>
</head>
<body>

    {%for i in data%}
    {%for f in families_names%}
    {%if f.id == i.family_id %}
    <a href="{% url 'one_animal' i.id %}">
        <br>
         {{i.name}} from {{f.name }} family with {{i.legs}} legs ({{i.weight}} kg, {{i.heiht}} sm). Runs {{i.speed}} km/h 
        <br>
    </a>
    {%endif%}
    {%endfor%}
    {%endfor%}

    
</body>
</html>