<!DOCTYPE html>
<html>
    <head>
        <title>Magic</title>
        <link rel="Stylesheet" type="text/css" href="Style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">

    </head>
    <body>
        <h>the {{ weather }} outside </h>
         {%if current_hour < 23  %}
         <h2> Morning </h2>
        {%endif%}
    
    </body>
    </html>